# Python
__pycache__/
*.py[cod]
*$py.class
*.log

# Serveurs locaux
*.sqlite3
db.sqlite3

# Environnement virtuel
venv/

# Django
/media
/staticfiles
.env

# Tests
.pytest_cache/
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db